.navbar-brand {
	padding: 15px;	
}

.github-link {
	padding: 10px !important;
}
.octicon {
	color: inherit !important;
}

.searchForm {
	margin: 10px;
}

.github-widget {
	max-width: 640px;
}

.list-group-item {
	overflow-y: auto;
}

.map {
	width: 100%;
	height: 100%;
	min-height: 700px;
}

#cinemaMap {
	display: none;
	min-height: 400px;
}
#cinemaMapButton {
	background-color: #b10;
}

.label-type {
	background-color: #3d3d3d;
}
.label-language {
	background-color: #01a;
}
.label-subtitles {
	background-color: #2162a6;
}

.panel-body {
	
}
