@import url("../libs/twbs/bootstrap/dist/css/bootstrap.min.css");
@import url("../libs/fortawesome/font-awesome/css/font-awesome.min.css");
.navbar-brand {
  padding: 15px; }

.github-link {
  padding: 10px !important; }

.octicon {
  color: inherit !important; }

.searchForm {
  margin: 10px; }

.github-widget {
  max-width: 640px; }

.list-group-item {
  overflow-y: auto; }

.map {
  width: 100%;
  height: 100%;
  min-height: 700px; }

#cinemaMap {
  display: none;
  min-height: 400px; }

#cinemaMapButton {
  background-color: #b10; }

.label-type {
  background-color: #3d3d3d; }

.label-language {
  background-color: #01a; }

.label-subtitles {
  background-color: #2162a6; }

/* Navbar */
.navbar-inverse {
  background-color: #ba1b0a;
  border-color: #ba1b0a; }

.navbar-inverse .navbar-nav > li > a {
  color: whitesmoke; }

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > .active > a:hover {
  background-color: whitesmoke;
  color: firebrick; }

.navbar-inverse .navbar-nav > .active > a {
  background-color: firebrick; }

.navbar-brand {
  color: ghostwhite !important; }

/* Menu */
#menu .panel-heading, #menu .panel-heading a {
  background-color: #ba1b0a;
  color: whitesmoke; }

#menu a:hover {
  background-color: firebrick;
  color: white; }

#menu .panel, #menu .nav > li > a {
  border-color: #ba1b0a; }

#menu .panel-heading.active, #menu .panel-heading.active > h4 > a, #menu li.active > a {
  background-color: firebrick; }

/* Footer */
#footer {
  background-color: whitesmoke; }

html, body {
  height: 100%; }

.container-fluid {
  margin: 0 20px; }
  @media (min-width: 1000px) {
    .container-fluid {
      margin: 0 40px; } }

/* Navbar */
.navbar {
  min-height: 50px;
  margin-bottom: 0; }
  .navbar .nav > li > a {
    padding: 15px 10px; }

.navbar-brand > img {
  display: inline; }

.logo {
  height: 32px; }

/* Menu */
#menu {
  padding: 10px 0 0 0; }
  #menu .nav {
    max-width: 300px; }
  #menu ul.inside {
    margin-left: 20px; }

/* Wrapper for page content to push down footer */
#content {
  min-height: calc(100% - 50px - 1px);
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -40px;
  /* Pad bottom by footer height */
  padding: 0 0 40px; }

/* Content */
.page-header {
  margin: 10px 0 5px; }

.icon {
  width: 16px; }

p {
  text-align: justify; }

td {
  vertical-align: middle !important; }

/* Bootstrap Panels */
.panel {
  margin-bottom: 0; }

.panel-heading {
  cursor: pointer; }
  .panel-heading .toggle:after {
    font-family: "FontAwesome", serif;
    content: "\f078";
    /* symbol for "opening" panels */ }
  .panel-heading.collapsed .toggle:after {
    font-family: "FontAwesome", serif;
    content: "\f054";
    /* symbol for "collapsed" panels */ }

.panel-title img {
  height: 24px; }

/* Anchor, for permalinks on page chapters */
.anchor, .anchor > small {
  color: transparent; }
  .anchor:hover, .anchor > small:hover {
    color: #777;
    text-decoration: none; }

/* Footer */
#footer {
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px; }
  #footer > .container-fluid {
    padding: 10px 15px 0; }

/*# sourceMappingURL=booty.css.map */
