nbproject/
.idea/
_log/
.temp/
bin/Entities
domains/
node_modules/
vendor/

.env
*.ini
*.config
*-data.sql

app/config/keys.neon
app/config/stage.neon
app/config/production.neon

.docker/mysql
