/nbproject
/.idea
/_log
/.temp
/domains
/subdom
/node_modules
/vendor
/dist

.env
*.ini
*.config
*-data.sql

app/config/keys.neon
app/config/env/stage.neon
app/config/env/production.neon

.docker/mysql
/admin
/db
