parameters:
	ignoreErrors:
		-
			message: "#^Property Dobine\\\\Facades\\\\DobineFacade\\:\\:\\$entityManager \\(Doctrine\\\\ORM\\\\EntityManager\\) does not accept Nettrine\\\\ORM\\\\EntityManagerDecorator\\.$#"
			count: 1
			path: app/Models/cinemas/CinemaFacade.php

		-
			message: "#^Property Zitkino\\\\Cinemas\\\\CinemaFacade\\:\\:\\$repository \\(Zitkino\\\\Cinemas\\\\CinemaRepository\\) does not accept Doctrine\\\\ORM\\\\EntityRepository\\<Zitkino\\\\Cinemas\\\\Cinema\\>\\.$#"
			count: 1
			path: app/Models/cinemas/CinemaFacade.php

		-
			message: "#^Property Dobine\\\\Facades\\\\DobineFacade\\:\\:\\$entityManager \\(Doctrine\\\\ORM\\\\EntityManager\\) does not accept Nettrine\\\\ORM\\\\EntityManagerDecorator\\.$#"
			count: 1
			path: app/Models/languages/LanguageFacade.php

		-
			message: "#^Property Dobine\\\\Facades\\\\DobineFacade\\:\\:\\$entityManager \\(Doctrine\\\\ORM\\\\EntityManager\\) does not accept Nettrine\\\\ORM\\\\EntityManagerDecorator\\.$#"
			count: 1
			path: app/Models/movies/MovieFacade.php

		-
			message: "#^Property Dobine\\\\Facades\\\\DobineFacade\\:\\:\\$entityManager \\(Doctrine\\\\ORM\\\\EntityManager\\) does not accept Nettrine\\\\ORM\\\\EntityManagerDecorator\\.$#"
			count: 1
			path: app/Models/places/PlaceFacade.php

		-
			message: "#^Property Dobine\\\\Facades\\\\DobineFacade\\:\\:\\$entityManager \\(Doctrine\\\\ORM\\\\EntityManager\\) does not accept Nettrine\\\\ORM\\\\EntityManagerDecorator\\.$#"
			count: 1
			path: app/Models/screenings/ScreeningFacade.php

		-
			message: "#^Unable to resolve the template type T in call to method Doctrine\\\\ORM\\\\EntityManager\\:\\:getClassMetadata\\(\\)$#"
			count: 1
			path: app/Models/screenings/ScreeningFacade.php

		-
			message: "#^Parameter \\#1 \\$price of method Zitkino\\\\Screenings\\\\Screening\\:\\:setPrice\\(\\) expects int\\|null, float given\\.$#"
			count: 1
			path: app/parsers/Vankovka.php

		-
			message: "#^Method Zitkino\\\\Presenters\\\\BasePresenter\\:\\:handleChangeLocale\\(\\) has parameter \\$locale with no type specified\\.$#"
			count: 1
			path: app/presenters/BasePresenter.php

		-
			message: "#^Method Zitkino\\\\Presenters\\\\CinemaPresenter\\:\\:renderClassic\\(\\) has no return type specified\\.$#"
			count: 1
			path: app/presenters/CinemaPresenter.php

		-
			message: "#^Method Zitkino\\\\Presenters\\\\CinemaPresenter\\:\\:renderClassic\\(\\) has parameter \\$id with no type specified\\.$#"
			count: 1
			path: app/presenters/CinemaPresenter.php

		-
			message: "#^Method Zitkino\\\\Presenters\\\\CinemaPresenter\\:\\:renderClassic_programme\\(\\) has no return type specified\\.$#"
			count: 1
			path: app/presenters/CinemaPresenter.php

		-
			message: "#^Method Zitkino\\\\Presenters\\\\CinemaPresenter\\:\\:renderClassic_programme\\(\\) has parameter \\$id with no type specified\\.$#"
			count: 1
			path: app/presenters/CinemaPresenter.php

		-
			message: "#^Method Zitkino\\\\Presenters\\\\CinemaPresenter\\:\\:renderDefault\\(\\) has no return type specified\\.$#"
			count: 1
			path: app/presenters/CinemaPresenter.php

		-
			message: "#^Method Zitkino\\\\Presenters\\\\CinemaPresenter\\:\\:renderMultiplex\\(\\) has no return type specified\\.$#"
			count: 1
			path: app/presenters/CinemaPresenter.php

		-
			message: "#^Method Zitkino\\\\Presenters\\\\CinemaPresenter\\:\\:renderMultiplex\\(\\) has parameter \\$id with no type specified\\.$#"
			count: 1
			path: app/presenters/CinemaPresenter.php

		-
			message: "#^Method Zitkino\\\\Presenters\\\\CinemaPresenter\\:\\:renderMultiplex_programme\\(\\) has no return type specified\\.$#"
			count: 1
			path: app/presenters/CinemaPresenter.php

		-
			message: "#^Method Zitkino\\\\Presenters\\\\CinemaPresenter\\:\\:renderMultiplex_programme\\(\\) has parameter \\$id with no type specified\\.$#"
			count: 1
			path: app/presenters/CinemaPresenter.php

		-
			message: "#^Method Zitkino\\\\Presenters\\\\CinemaPresenter\\:\\:renderProfile\\(\\) has no return type specified\\.$#"
			count: 1
			path: app/presenters/CinemaPresenter.php

		-
			message: "#^Method Zitkino\\\\Presenters\\\\CinemaPresenter\\:\\:renderProfile\\(\\) has parameter \\$id with no type specified\\.$#"
			count: 1
			path: app/presenters/CinemaPresenter.php

		-
			message: "#^Method Zitkino\\\\Presenters\\\\CinemaPresenter\\:\\:renderSummer\\(\\) has no return type specified\\.$#"
			count: 1
			path: app/presenters/CinemaPresenter.php

		-
			message: "#^Method Zitkino\\\\Presenters\\\\CinemaPresenter\\:\\:renderSummer\\(\\) has parameter \\$id with no type specified\\.$#"
			count: 1
			path: app/presenters/CinemaPresenter.php

		-
			message: "#^Method Zitkino\\\\Presenters\\\\CinemaPresenter\\:\\:renderSummer_programme\\(\\) has no return type specified\\.$#"
			count: 1
			path: app/presenters/CinemaPresenter.php

		-
			message: "#^Method Zitkino\\\\Presenters\\\\CinemaPresenter\\:\\:renderSummer_programme\\(\\) has parameter \\$id with no type specified\\.$#"
			count: 1
			path: app/presenters/CinemaPresenter.php

		-
			message: "#^Property Zitkino\\\\Presenters\\\\CinemaPresenter\\:\\:\\$cinemas has no type specified\\.$#"
			count: 1
			path: app/presenters/CinemaPresenter.php

		-
			message: "#^Property Zitkino\\\\Presenters\\\\CinemaPresenter\\:\\:\\$cinemas is unused\\.$#"
			count: 1
			path: app/presenters/CinemaPresenter.php

		-
			message: "#^Method Zitkino\\\\Presenters\\\\CronPresenter\\:\\:actionDefault\\(\\) has no return type specified\\.$#"
			count: 1
			path: app/presenters/CronPresenter.php

		-
			message: "#^Method Zitkino\\\\Presenters\\\\CronPresenter\\:\\:actionParse\\(\\) has no return type specified\\.$#"
			count: 1
			path: app/presenters/CronPresenter.php

		-
			message: "#^Method Zitkino\\\\Presenters\\\\HomePresenter\\:\\:renderDefault\\(\\) has no return type specified\\.$#"
			count: 1
			path: app/presenters/HomePresenter.php
