parameters:
	ignoreErrors:
		-
			message: "#^Property Zitkino\\\\Cinemas\\\\CinemaFacade\\:\\:\\$repository \\(Zitkino\\\\Cinemas\\\\CinemaRepository\\) does not accept Doctrine\\\\ORM\\\\EntityRepository\\<Zitkino\\\\Cinemas\\\\Cinema\\>\\.$#"
			count: 1
			path: app/Models/cinemas/CinemaFacade.php

		-
			message: "#^Unable to resolve the template type T in call to method Doctrine\\\\ORM\\\\Decorator\\\\EntityManagerDecorator\\:\\:getClassMetadata\\(\\)$#"
			count: 1
			path: app/Models/screenings/ScreeningFacade.php
