@import url("libs/twbs/bootstrap/dist/css/bootstrap.min.css");

html,
body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by its height */
	margin: 0 auto -30px;
	/* Pad bottom by footer height */
	padding: 0 0 30px;
}

.container-fluid {
	margin: 0px 20px; 
}

.navbar {
	margin-bottom: 0px;
	background-color: #ba1b0a;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
	background-color: #337ab7;
}
.navbar .nav > li > a {
	padding: 15px 10px;
	color: white;
}
.navbar .nav > li > a:hover {
	color: lightgray;
}
.navbar-brand {
	padding: 15px 10px;
	color: whitesmoke !important;
}
.navbar-brand > img {
	display: inline;
}

.github-link {
	padding: 10px !important;
}
.octicon {
	color: inherit !important;
}

#menu { 
	padding: 10px 0px 0px 0px;
}

/* Set the fixed height of the footer here */
#footer {
	height: 40px;
	background-color: #f5f5f5;
	font-size: smaller;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container-fluid {
	padding: 0px 15px;
}
.container-fluid .credit {
	margin: 20px 0px;
}

#footer > .container-fluid {
	padding: 0px 15px;
}

.post-footer {
	padding: 5px 0 0;
	border-top: 1px solid #eee;
}

/* Bootstrap Panels */
.panel {
	margin-bottom: 0px;
}
.panel-heading {
	cursor: pointer;
}
.panel-heading .toggle:after {
	font-family: 'Glyphicons Halflings';
	content: "\e114"; /* symbol for "opening" panels */
	/*float: right;*/
	color: grey;
}
.panel-heading.collapsed .toggle:after {
	content: "\e080"; /* symbol for "collapsed" panels */
}

.panel-body {
	padding: 0px 15px;
}

.anchor, .anchor > small {
	color: transparent;
}
.anchor:hover, .anchor > small:hover {
	color: #777;
	text-decoration: none;
}

.page-header {
	margin: 10px 0 5px;
}
.searchForm {
	margin: 10px;
}

.github-widget {
	max-width: 640px;
}

.list-group-item {
	overflow-y: auto;
}

.map {
	width: 100%;
	height: 100%;
	min-height: 600px;
}

#cinemaMap {
	display: none;
	min-height: 400px;
}
#cinemaMapButton {
	background-color: #b10;
}

.label-type {
	background-color: #3d3d3d;
}
.label-language {
	background-color: #01a;
}
.label-subtitles {
	background-color: #2162a6;
}

td {
	vertical-align: middle!important;
}
