{var $title="Brněnská kina"}

{block #content}
<h1 class="page-header">{$title}</h1>
{php $cinemas = new Cinemas(); }

<ul class="list-group">
	{import "../components/list.latte"}
	{foreach $cinemas->getClassic() as $cinema}
		{include #cinemasList, cinema => $cinema}
	{/foreach}
</ul>
{/block}

