{var $title="Program brněnských kin"}

{block #content}
<h1 class="page-header">{$title}</h1>
{import "../Cinema/list.latte"}

{*{cache "homepage", expire => "1 hour"}*}
{include #cinemaMovieList}
{*{/cache}*}
{/block}
