{$title="Informace"}

{block #content}
<h2 class="page-header">{$title}</h2>

<p>Inspirováno původním <a href="https://github.com/zitkino/zitkino.cz" title="Původní Žít kino">zitkino.cz</a> a seznamem letňáků od <a href="https://www.online.muni.cz/student/7854-brnenska-letni-kina-oteviraji-zvou-na-klasiky-i-oscarove-hity" title="Letní kina Muni">Muni</a>.</p>

<p>Vytvořeny přispěvateli v <a href="https://github.com/hermajan/zitkino/graphs/contributors" title="Žít kino GitHub"><i class="fa fa-github fa-lg"></i> GitHubovém repozitáři</a>.</p>
{/block}
