{$title="Informace"}

{block #content}
<h2 class="page-header">{$title}</h2>

<p>Inspirováno původním <a href="https://github.com/zitkino/zitkino.cz" title="Žít kino">zitkino.cz</a> a seznamem letňáků od <a href="https://www.online.muni.cz/student/7854-brnenska-letni-kina-oteviraji-zvou-na-klasiky-i-oscarove-hity" title="Muni">Muni</a>.</p>

<p>Tvoří hermajan (<a href="https://github.com/hermajan" title="GitHub"><i class="fa fa-github fa-lg"></i></a>, <a href="https://www.facebook.com/hermajan" title="Facebook"><i class="fa fa-facebook-official fa-lg"></i></a>, <a href="https://plus.google.com/+JanHermann" title="Google+"><i class="fa fa-google-plus fa-lg"></i></a>).</p>
{/block}
