{block title}{_"home.map.title"}{/block}

{block content}
<div class="embed-responsive embed-responsive-16by9 map">
	<iframe src="https://www.google.com/maps/d/embed?mid=1bGbx0udf8xIA5FhKAZgDhgm0WvY" class="embed-responsive-item"></iframe>
</div>
