{block #menu}

  <ul class="nav nav-pills nav-stacked">
    <li class="active"><a href="#uvod"><center><span class="glyphicon glyphicon-home"></span></center></a></li>
    <li><a href="#adm">Lorem ipsum</a></li>
    <li><a href="#datPrez">Dolor sit amet</a></li>
  </ul>

{/block}
