{var $title="Letní kina"}

{block #content}
<h1 class="page-header">{$title} <small>(<a href="http://letnaky.zitbrno.cz" title="Celkový program letních kin."><i class="fa fa-list"></i> program</a>)</small></h1>
{php $cinemas = new Cinemas(); }

<ul class="list-group">
	{import "../components/list.latte"}
	{foreach $cinemas->getSummer() as $cinema}
		{include #cinemasList, cinema => $cinema}
	{/foreach}
</ul>
{/block}
