{block title}{_"home.default.title"}{/block}

{block #content}
<h1 n:tag-if="title" class="page-header">{include title}</h1>
{import "../Cinema/list.latte"}

{*{cache "homepage", expire => "1 hour"}*}
{include #cinemaMovieList}
{*{/cache}*}
{/block}
