#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
php:
	date.timezone: Europe/Prague
	zlib.output_compression: yes

application:
	debugger: true
	errorPresenter: Error
	mapping:
		*: Zitkino\Presenters\*Presenter

di:
	debugger: true
	accessors: true
	
http:
	frames: yes
	
latte:
	macros:
		- Fazette\latte\Fa

#session:
	#autoStart: smart
	#expiration: 14 days

services:
	- Zitkino\RouterFactory
	router: @Zitkino\RouterFactory::createRouter
	
	latte.latteFactory:
		setup:
			- setAutoRefresh(true)

tracy:
	maxLen: 500
	maxDepth: 5
	netteMailer: true
