application:
	debugger: true
	silentLinks: false
	
doctrine:
	host: 'db'
	user: root
	password: 'heslo'
	dbname: zitkino

tracy:
	strictMode: true
	showBar: true
	editorMapping:
		/var/www/html: c:\OneDrive\github\zitkino
