extensions:
	console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)

	nettrine.annotations: Nettrine\Annotations\DI\AnnotationsExtension
	nettrine.cache: Nettrine\Cache\DI\CacheExtension
	nettrine.dbal: Nettrine\DBAL\DI\DbalExtension
	nettrine.dbal.console: Nettrine\DBAL\DI\DbalConsoleExtension(%consoleMode%)
	nettrine.orm: Nettrine\ORM\DI\OrmExtension
	nettrine.orm.annotations: Nettrine\ORM\DI\OrmAnnotationsExtension
	nettrine.orm.cache: Nettrine\ORM\DI\OrmCacheExtension
	nettrine.orm.console: Nettrine\ORM\DI\OrmConsoleExtension(%consoleMode%)

nettrine.orm:
	configuration:
		autoGenerateProxyClasses: %debugMode%

nettrine.orm.annotations:
	mapping:
		Zitkino: %appDir%/models

nettrine.dbal:
	debug:
		panel: %debugMode%
		sourcePaths: [%appDir%]
	connection:
		charset: UTF8
		driver: pdo_mysql

search:
	facades:
		in: %appDir%/models
		extends: Dobine\Facades\DobineFacade
		classes:
			- Zitkino\*Facade
			- Zitkino\*\*Facade
