extensions:
	console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)
	dbal: Nettrine\DBAL\DI\DbalExtension
	orm: Nettrine\ORM\DI\OrmExtension
	orm.annotations: Nettrine\ORM\DI\OrmAnnotationsExtension
	orm.console: Nettrine\ORM\DI\OrmConsoleExtension
	nettrine.cache: Nettrine\Cache\DI\CacheExtension

orm.annotations:
	paths:
		- App/Model

dbal:
	debug:
		panel: %debugMode%
		sourcePaths: [%appDir%]
	connection:
		charset: UTF8
		driver: pdo_mysql
