parameters:
	level: 2
	ignoreErrors:
		- '#PHPDoc tag @return with type object\|null is not subtype of native type#'
	scanDirectories:
		- %currentWorkingDirectory%/app/
		- %currentWorkingDirectory%/tests/

includes:
	- %currentWorkingDirectory%/vendor/phpstan/phpstan-nette/extension.neon
	- %currentWorkingDirectory%/vendor/phpstan/phpstan-nette/rules.neon
	- %currentWorkingDirectory%/vendor/phpstan/phpstan-doctrine/extension.neon
