services: 
	cinemaFacade: Zitkino\Cinemas\CinemaFacade
	movieFacade: Zitkino\MovieFacade
	languageFacade: Zitkino\LanguageFacade
	placeFacade: Zitkino\PlaceFacade

	tablePrefix:
		factory: Dobine\Subscribers\TablePrefixSubscriber(%database%)
		tags: [nettrine.subscriber]
