/* Navbar */
.navbar-inverse {
	background-color: #ba1b0a;
	border-color: #ba1b0a;
}
.navbar-inverse .navbar-nav>li>a {
	color: whitesmoke;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>.active>a:hover {
	background-color: whitesmoke;
	color: firebrick;
}
.navbar-inverse .navbar-nav>.active>a {
	background-color: firebrick;
}

.navbar-brand {
	color: ghostwhite!important;
}


/* Menu */
#menu .panel-heading, #menu .panel-heading a {
	background-color: #ba1b0a;
	color: whitesmoke;
}
#menu a:hover {
	background-color: firebrick;
	color: white;
}
#menu .panel, #menu .nav>li>a {
	border-color: #ba1b0a;
}
#menu .panel-heading.active, #menu .panel-heading.active>h4>a, #menu li.active>a {
	background-color: firebrick;
}


/* Footer */
#footer {
	background-color: whitesmoke;
}
