@import "colors";

$header-height: 50px;
$footer-height: 40px;

html, body {
	height: 100%;
}

.container-fluid {
	margin: 0 20px;
	@media(min-width: 1000px) {
		margin: 0 40px;
	}
}


/* Navbar */
.navbar {
	min-height: $header-height;
	margin-bottom: 0;
	
	.nav > li > a {
		padding: 15px 10px;
	}
}

.navbar-brand > img {
	display: inline;
}

.logo {
	height: 32px;
}


/* Menu */
#menu { 
	padding: 10px 0 0 0;
	
	.nav {
		max-width: 300px;
	}
	
	ul.inside {
		margin-left: 20px;
	}
}


/* Wrapper for page content to push down footer */
#content {
	min-height: calc(100% - #{$header-height} - 1px);
	height: auto;
	/* Negative indent footer by its height */
	margin: 0 auto -#{$footer-height};
	/* Pad bottom by footer height */
	padding: 0 0 $footer-height;
}

/* Content */
.page-header {
	margin: 10px 0 5px;
}

.icon {
	width: 16px;
}

p {
	text-align: justify;
}

td {
	vertical-align: middle!important;
}


/* Bootstrap Panels */
.panel {
	margin-bottom: 0;
}
.panel-heading {
	cursor: pointer;
	
	.toggle:after {
		font-family: "FontAwesome", serif;
		content: "\f078"; /* symbol for "opening" panels */
	}
	
	&.collapsed .toggle:after {
		font-family: "FontAwesome", serif;
		content: "\f054"; /* symbol for "collapsed" panels */
	}
}

.panel-title img {
	height: 24px;
}


/* Anchor, for permalinks on page chapters */
.anchor, .anchor > small {
	color: transparent;
	
	&:hover {
		color: #777;
		text-decoration: none;
	}
}


/* Footer */
#footer {
	width: 100%;
	/* Set the fixed height of the footer here */
	height: $footer-height;
	
	& > .container-fluid {
		padding: 10px 15px 0;
	}
}
