{var $title="Program klasických kin"}

{block #content}
<h1 class="page-header">{$title}</h1>
{import "list.latte"}

{include #cinemaMovieList}

<nav>
	<ul class="pager">
		<li class="previous"><a n:href="Cinema:classic"><span aria-hidden="true">&larr;</span> {fa list} seznam klasických kin</a></li>
	</ul>
</nav>
{/block}
