{var $title="Brněnská kina"}

{block #content}
<h1 class="page-header">{$title}</h1>
{php $cinemas = new \Zitkino\Cinemas(); }

<ul class="list-group">
	{import "list.latte"}
	{foreach $cinemas->getClassic() as $cinemaItem}
		{include #cinemaList, cinema => $cinemaItem}
	{/foreach}
</ul>
{/block}

