{block title}Multiplexy{/block}

{block #content}
<h1 n:tag-if="title" class="page-header">{include title}</h1>

<ul class="list-group">
	{import "list.latte"}
	{foreach $cinemas as $cinemaItem}
		{include #cinemaList, cinema => $cinemaItem}
	{/foreach}
</ul><br>

<nav>
	<ul class="pagination">
		<li class="page-item"><a n:href="Cinema:multiplex_programme" class="page-link">{fa book} program multiplexů <span aria-hidden="true">&rarr;</span></a></li>
	</ul>
</nav>
{/block}
