{block title}Multiplexy{/block}

{block #content}
<h1 n:tag-if="title" class="page-header">{include title}</h1>

<ul class="list-group">
	{import "list.latte"}
	{foreach $cinemas as $cinemaItem}
		{include #cinemaList, cinema => $cinemaItem}
	{/foreach}
</ul>

<nav>
	<ul class="pager">
		<li class="next"><a n:href="Cinema:multiplex_programme">{fa book} program multiplexů <span aria-hidden="true">&rarr;</span></a></li>
	</ul>
</nav>
{/block}
