{block title}Program multiplexů{/block}

{block #content}
<h1 n:tag-if="title" class="page-header">{include title}</h1>
{import "list.latte"}

{include #cinemaMovieList}

<nav>
	<ul class="pager">
		<li class="previous"><a n:href="Cinema:multiplex"><span aria-hidden="true">&larr;</span> {fa list} seznam multiplexů</a></li>
	</ul>
</nav>
{/block}
