{var $title="Multiplexy"}

{block #content}
<h1 class="page-header">{$title}</h1>
{php $cinemas = new \Zitkino\Cinemas();}

<ul class="list-group">
	{import "list.latte"}
	{foreach $cinemas->getMultiplex() as $cinemaItem}
		{include #cinemaList, cinema => $cinemaItem->getData()}
	{/foreach}
</ul>

<nav>
	<ul class="pager">
		<li class="next"><a n:href="Cinema:multiplex_programme">{fa calendar} program multiplexů <span aria-hidden="true">&rarr;</span></a></li>
	</ul>
</nav>
{/block}
