{var $title="Letní kina"}

{block #content}
<h1 class="page-header">{$title}</h1>

<ul class="list-group">
	{import "list.latte"}
	{foreach $cinemas as $cinemaItem}
		{include #cinemaList, cinema => $cinemaItem}
	{/foreach}
</ul>

<nav>
	<ul class="pager">
		<li class="next"><a n:href="Cinema:summer_programme">{fa book} program letních kin <span aria-hidden="true">&rarr;</span></a></li>
	</ul>
</nav>
{/block}
