application:
	debugger: true
	silentLinks: false
	
nettrine.dbal:
	connection:
		host: 'db'
		user: root
		password: 'heslo'
		dbname: zitkino

tracy:
	strictMode: true
	showBar: true
	showLocation: true
	editorMapping:
		/var/www/html: c:\OneDrive\github\zitkino
	bar:
		- Nextras\MailPanel\MailPanel(%tempDir%/mail-panel-latte)

services:
	nette.mailer:
		class: Nette\Mail\IMailer
		factory: Nextras\MailPanel\FileMailer(%tempDir%/mail-panel-mails)
