<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="{$meta["color"]}">
	<meta name="description" content="{$meta["description"]}">
	<meta name="author" content="{$meta["author"]}">
	<meta name="robots" content="{$meta["robots"]}" n:ifset="$meta['robots']">
	
	<title>{ifset title}{include title|stripHtml} {$meta["separator"]}{else}{$meta["title"]}{/ifset} {$meta["name"]}</title>
	
	<link rel="shortcut icon" href="{$baseUrl}/favicon.ico">
	<link rel="stylesheet" media="screen" href="{$baseUrl}/dist/style.css">
	{*<link rel="stylesheet" media="print" href="{$baseUrl}/print.css">*}
	
	<script src="{$baseUrl}/node_modules/jquery/dist/jquery.min.js"></script>
</head>

<body>
<header id="header" class="navbar navbar-dark navbar-expand-md">
	<div class="container-fluid">
		{include 'header.latte'}
	</div>
</header>

<main id="main">
	<div class="container-fluid">
		<div class="row">
			<article class="col-12" id="content">
				<div n:if="!empty($flashes)" n:foreach="$flashes as $flash" class="alert alert-{$flash->type}" role="alert">{$flash->message}</div>
				{include #content}
			</article>
		</div>
	</div>
</main>

<footer id="footer" n:ifset="$footerFile">
	<div class="container-fluid">
		{include 'footer.latte'}
	</div>
</footer>

<script src="{$baseUrl}/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="{$baseUrl}/node_modules/@hermajan/booty/js/booty.js"></script>
<script src="{$baseUrl}/dist/ganalytics.js"></script>
</body>
</html>
